html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title My profile
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/regularUser.css')
    body
        //- Nav Bar
        include ../views/partials/welcomeNavBar
        if session.loggedIn
            //- Username and type of user
            .container-fluid.title.background
                h1#userName Browse Movies !
                h5#type
                    | Search by title, genre, year, or minimum review rating 
                    br
                    br
            //- Search for Movies
            form(action='/movies' method='GET')
                .advancedForm
                    .form-group
                        br
                        label(for='findTitle') Find Fitle:
                        input#findTitle.form-control(type='text' name='title')
                    .form-group
                        label(for='selectGenre') Find by genre:
                        select#selectGenre.form-control(name='genre')
                            option(hidden='' disabled='' selected='' value='')  -- Select an option -- 
                            option(value='') none
                            each item in genreList
                                option #{item}
                    .form-group
                        label(for='year') Find by year release: 
                        br
                        input#year(type='text' name='year' pattern="[0-9]{4}")
                    .form-group
                        label(for='selectRating') Find by minimum review rating:
                        select#selectRating.form-control(name ='minRating')
                            option(hidden='' disabled='' selected='' value='')  -- Select an option -- 
                            option(value='') none
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                            option 6
                            option 7
                            option 8
                            option 9
                            option 10
                    input#advFind(type='submit' value='Search')
                    br
                    br
                    a#backTo(href="/searchMovies") Back to Regular Search


            include ../views/partials/footer