html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Home
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/Welcome.css")
    body
        //-includes welcomeNavBar
        include ../views/partials/welcomeNavBar
        if session.loggedIn
            h1.container.text-center Welcome to the Movie Database, #{session.username}!
            //-includes footer.pug
            include ../views/partials/footer