html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Browse Movies
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/regularUser.css')
    body
        //- Nav Bar
        include ../views/partials/welcomeNavBar
        if session.loggedIn
            //- Username and type of user
            #user.jumbotron.text-center
                h1#userName Browse Movies !
                h5#type
                    | Search by title 
                    br
                    br
                //- Search for Movies
                #browse.browse
                    form(action='/movies' method="GET")
                        lable#browseMovie(for='text') Find Movie: 
                        input#text(type='text' name="title")
                        span#search
                        input#searchButton(type='submit' value="Find")
                    
                    a#advSearch(href="/advancedSearch") Advanced Search

            include ../views/partials/footer