html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Find People
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/regularUser.css')
    body
        //- Nav Bar
        include ../views/partials/welcomeNavBar
        if session.loggedIn

            #user.jumbotron.text-center
                h1#userName Find a Person !
                h5#type
                    | Search by person name 
                    br
                    br
                //- Search for people
                #browse.browse
                    form(action='/people' method="GET")
                        lable#browseMovie(for='text') Find Person: 
                        input#text(type='text' name="name")
                        span#search
                        input#searchButton(type='submit' value="Find")                
            include ../views/partials/footer