nav{
    background-color: brown;
}

.navbar-brand{
    color:wheat;
    font-weight: bolder;
}
.navbar-header a:hover{
    background-color:tan;
}

.navbar-nav{
    float:right;
}

#home{
    float:right;
    border-left: 1px solid white;
}
#note{
    float:right;
    border-left: 1px solid white;
}

/*How nav bar links display*/
.navbar-nav a{
    display: block;
    color:white;
    text-align:center;
    padding:20px 20px;
    
    text-decoration: none;
}

/*alter color when mouse hovers*/
li a:hover{
    background-color: tan;
}

#searchButton{
    height:5vh; 
    background-color: rgb(110, 195, 25);   
}

#text{
    width:50vw;
    height: 5vh;
}

h3{
    text-align: center;
}

.list-unstyled{
    overflow: auto;
    background-color: whitesmoke;
    height: 20vh;
    padding: 2vh 2vw;
    border-radius: 1vw;
}

#sList{
    list-style-type: disc;
}

#deletePeople{
    background-color: rgb(163, 8, 8);
    color: white;
}

#deleteUser{
    background-color: rgb(163, 8, 8);
    color: white;
}

.switchUser{
    padding: 15vh;
    margin-left: -3vw;
}

#changeUser{
    background-color: rgb(236, 184, 41);
    color: black;
}

#regUser{
    color:brown;
    font-weight: bolder;
}

.adder{
    background-color: whitesmoke;
    padding: 5vh;
    width: 30vw;
    border-radius: 1vw;

}

.add{
    width: 30vw;
    margin-top: 20vh;
    text-align: center;
}

#mActor{
    width: 20vw;
}
#mWriter{
    width: 20vw;
}
#mDirector{
    width: 20vw;
}
#movie{
    width: 20vw;
}

#actor{
    width: 20vw;
}
#writer{
    width: 20vw;
}
#director{
    width: 20vw;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }


footer{
    text-align: center;
}
