nav{
    background-color: brown;
}

.navbar-brand{
    color:wheat;
    font-weight: bolder;
}
.navbar-header a:hover{
    background-color:tan;
}

.navbar-nav{
    float:right;
}

li{
    float:right;
    border-left: 1px solid white;
}

/*How nav bar links display*/
li a{
    display: block;
    color:whitesmoke;
    text-align:center;
    padding:20px 20px;
    text-decoration: none;
}

/*alter color when mouse hovers*/
li a:hover{
    background-color: tan;
}

#login{
    color: orange;
    font-weight: bold;
    font-family: Arial;
}

.container{
    border-radius: 2vw;
    background-color: whitesmoke;
    width: 50vh;
    height: 50vh;

}

.form{
    font-size: 1vw;
    text-align:center;
    position: static;
    margin-top: 10vh;
}

#log{
    background-color: rgb(137, 195, 20);
}

#no{
    font-size: medium;
}

#signUp{
    background-color: rgb(235, 158, 16);
}

footer{
    text-align: center;
}