nav{
    background-color: brown;
}

.navbar-brand{
    color:wheat;
    font-weight: bolder;
}
.navbar-header a:hover{
    background-color:tan;
}

.navbar-nav{
    float:right;
}

#home{
    float:right;
    border-left: 1px solid white;
}
#note{
    float:right;
    border-left: 1px solid white;
}

/*How nav bar links display*/
.navbar-nav a{
    display: block;
    color:white;
    text-align:center;
    padding:20px 20px;
    
    text-decoration: none;
}

/*alter color when mouse hovers*/
li a:hover{
    background-color: tan;
}

.title{
    background-color: whitesmoke;
}

#titleName{
    padding-bottom: 5vh;
}

.comma-list li:last-child::after {
    content: "";
}


#plot{
    padding: 2vh;
}

.plot{
    margin-left: 1vw;
}

.image{
    text-align: right;
}

.vip{
    background-color: whitesmoke;
    border-radius: 1vw;
    margin-left: 1vw;
    width:30vw;
}

#reviewSection{
    margin-left: 1vw;
}

.oldReview{
    margin-left: 1vw;
    padding-top: 3vh;
    height: 80vh;
    overflow: auto;
    background-color: whitesmoke;
    
}

.oldEntry{
    overflow:auto;
    height: 35vh;
    padding: 2vh 2vw;
    background-color: white;
    border-color: burlywood;
}

.newRev{
    margin-left:1vw;
    padding-top: 3vh;
}
#newShortRev{
    width: 40vw;
}
#newRateRev{
    width: 15vw;
}

#newR{
    padding-top: 1vh;
    background-color: whitesmoke;
    border-radius: 1vw;
}
#submit{
    background-color: rgb(212, 141, 10);
}
#addRev{
    background-color: rgb(212, 141, 10);
}

.suggest{
    padding:8vh;
    margin-left:-1vw;
}
.list{
    overflow: auto;
    background-color: whitesmoke;
    height: 20vh;
    padding: 2vh 2vw;
    border-radius: 1vw;
}

.background{
    background-color: whitesmoke;
}
#findTitle{
    width: 50vw;
    height: 5vh;
}
#inpageTitle{
    width: 15vw;
    height: 5vh;
}


#selectGenre{
    width:15vw;
    height: 5vh;
}

#selectRating{
    width:15vw;
    height: 5vh;
}

#advFind{
    height:5vh; 
    background-color: rgb(110, 195, 25);
}

/* #toTop {
    display: none;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    font-size: 18vw;
    border: none;
    outline: none;
    background-color: rgb(133, 93, 19);
    color: white;
    cursor: pointer;
    border-radius: 1vw;
} */

footer{
    text-align: center;
}