nav{
    background-color: brown;
}

.navbar-brand{
    color:wheat;
    font-weight: bolder;
}
.navbar-header a:hover{
    background-color:tan;
}

.navbar-nav{
    float:right;
}

#home{
    float:right;
    border-left: 1px solid white;
}
#note{
    float:right;
    border-left: 1px solid white;
}

/*How nav bar links display*/
.navbar-nav a{
    display: block;
    color:white;
    text-align:center;
    padding:20px 20px;
    
    text-decoration: none;
}

/*alter color when mouse hovers*/
li a:hover{
    background-color: tan;
}

#bio{
    padding: 10vh;
}


h3{
    text-align: center;
}

.list{
    overflow: auto;
    background-color: whitesmoke;
    height: 20vh;
    padding: 2vh 2vw;
    border-radius: 1vw;
}

.follow{
    padding: 8vh;
    margin-left: 43vw;
}

#followPerson{
    height:5vh; 
    background-color: rgb(110, 195, 25);
    color: black;
}
#unfollowPerson{
    height:5vh;
    background-color: rgb(163, 8, 8);
    color: white;
}

footer{
    text-align: center;
}